<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flyfish.mapper.AccumulateScoreMapper">
    <insert id="batchadd">
        insert into homework.accumulateScore (addscore, minusscore, punishscore, reason, name, classNumber, create_time, update_time, subject, school)
        values <foreach collection="accumulateScoreList" separator="," item="as">
        (#{as.addscore},#{as.minusscore},#{as.punishscore},#{as.reason},#{as.name},#{as.classNumber},#{as.createTime},#{as.updateTime},#{as.subject},#{as.school})
    </foreach>
    </insert>
    <update id="updateminusscore">
        update homework.accumulateScore set minusscore = minusscore + #{minusnumber}, update_time = #{updateTime}, punishscore = punishscore +#{minusnumber}
        where classNumber = #{classNumber} and subject = #{subject} and school = #{school}
        and name in <foreach collection="nameList" item="name" open="(" close=")" separator=",">
        #{name}
    </foreach>
    </update>
    <update id="updateaddscore">
        update homework.accumulateScore set addscore = addscore + #{addnumber}, update_time = #{updateTime}
        where classNumber = #{classNumber} and subject = #{subject} and school = #{school}
        and name in <foreach collection="nameList" item="name" open="(" close=")" separator=",">
        #{name}
    </foreach>
    </update>
    <update id="updateminusnopunishscore">
        update homework.accumulateScore set minusscore = minusscore + #{minusnumber}, update_time = #{updateTime}
        where classNumber = #{classNumber} and subject = #{subject} and school = #{school}
        and name in <foreach collection="nameList" item="name" open="(" close=")" separator=",">
        #{name}
    </foreach>
    </update>

    <update id="updateaddscoreSpecial">
        UPDATE homework.accumulateScore
        <set>
            <trim prefix="addscore = CASE name" suffix="END,">
                <foreach collection="nameList" item="name" index="index">
                    WHEN #{name} THEN addscore + #{addscoreList[${index}]}
                </foreach>
            </trim>
            update_time = #{updateTime}
        </set>
        WHERE classNumber = #{classNumber} AND subject = #{subject} AND school = #{school}
        AND name IN
        <foreach collection="nameList" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </update>





    <select id="isexist" resultType="java.lang.String">

        select name from homework.accumulateScore where classNumber = #{classNumber} and school = #{school} and subject = #{subject}
        and name in <foreach collection="nameList" item="name" open="(" close=")" separator=",">
        #{name}
    </foreach>
    </select>
    <select id="getByNameClass" resultType="flyfish.pojo.AccumulateScore">
        select * from homework.accumulateScore
        <where>
            <if test="classNumber != null and classNumber !=''" >
                and classNumber = #{classNumber}
            </if>
            <if test="subject != null and subject !=''" >
                and subject = #{subject}
            </if>
            <if test="name != null and name !=''" >
                and name = #{name}
            </if>
        </where>
    </select>

    <select id="getAllscore" resultType="flyfish.pojo.AccumulateScore">
        select * from homework.accumulateScore where classNumber = #{classNumber} and school = #{school} and
        name in <foreach collection="nameList" item="name" separator="," open="(" close=")">
        #{name}
    </foreach>
    </select>
    <select id="getAllscoreBySubject" resultType="flyfish.pojo.AccumulateScore">
        select * from homework.accumulateScore where classNumber = #{className} and school = #{school} and subject = #{subject} and
        name in <foreach collection="nameList" item="name" separator="," open="(" close=")">
        #{name}
    </foreach>
    </select>

</mapper>