<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flyfish.mapper.M_PoorPerformerMapper">



    <select id="getReadingPoorPerformByDateRange" resultType="flyfish.pojo.M_ReadingPoorPerform">
        select  * from miniprograme.poorPerformer where  school = #{school} and check_date between #{startDate} and #{endDate} <if test="grade !=null and grade != ''">
            and grade = #{grade} </if>
    </select>


</mapper>