<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flyfish.mapper.ParentPasswordMapper">




    <insert id="addNewFile">
        insert into homework.parentPassword (class_number,name,password,query_time)
        values <foreach collection="parentPasswords"  item="pp" separator=",">
        (#{pp.classNumber},#{pp.name},#{pp.password},#{pp.queryTime})
    </foreach>
    </insert>
    <insert id="addStudentPassword" useGeneratedKeys="true" keyProperty="id">
        insert into homework.parentPassword (class_number, name, password, query_time) VALUES (#{classNumber},#{name},#{password},#{queryTime})

    </insert>


    <select id="getAllContentByCLassName" resultType="flyfish.pojo.ParentPassword">

        SELECT * FROM homework.parentPassword
        <where>
            <if test="classNumber != null and classNumber != ''">
                AND class_number = #{classNumber}
            </if>
            <if test="studentName != null and studentName !=''">
                AND name LIKE CONCAT('%', #{studentName}, '%')
            </if>
        </where>
    </select>
    <select id="getRealPassword" resultType="java.lang.String">
        select password from homework.parentPassword
        where
            class_number = #{classNumber} and name = #{name}

    </select>


</mapper>